DATABASE_URL=postgresql://postgres:password@localhost:5432/healthcare_db

MODEL_PATH=models/model.joblib
ENCODERS_PATH=models/encoders.joblib

SECRET_KEY=changeme_use_openssl_rand_hex_32

RETRAIN_API_KEY=changeme_random_secret
