__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
env/

.env

data/raw/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/
.idea/

# Personal notes
projectsummary.md
simple_auth_manager_passwords.json
